<%- include("partials/header.ejs") %>

<div>This is a member list</div>
<div>
  <% if(members.length === 0) {%>
  <h3>There is no new member yet</h3>
  <% } else { %>
  <ul>
    <% members.forEach(member => { %>
    <li><%= member.name %></li>
    <li><%= member.email %></li>
    <li><%= member.id %></li>
    <% })%>
  </ul>
  <% }%>
</div>

<%- include("partials/footer.ejs") %>
